HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### H2 / local database files - do not commit ###
# H2 file-mode creates files like `database.mv.db`, `database.trace.db` or older `database.h2.db`.
# Ignore any file that starts with `database` in project root and common H2 DB extensions.
/database*
*.mv.db
*.h2.db
*.trace.db

